.article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-footer);
}
.article-image{
    width: 100%;
    height: 100%;
    background-color: var(--color-footer);
}

.article-image img{
    width: 100%;
    height: 100%;
}

.article-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem 1.5rem;
}

.article-container p{
    color: #fff;
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 35px;
    font-weight: bold;
}

.article-container h3{
    color: #fff;
    font-family: var(--font-family);
    font-size: 26px;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom:5rem;
}

.article-container p:last-child{
    cursor: pointer;
}

@media screen and (max-width: 550px)
{
   .article-container h3{
    font-size: 18px;
    line-height:24px;
   }

}

